@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: lemonMilkMed;
}

html {
  height: 100%;
}

p {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #1014c5;
  margin: 10px;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

.carousel {
  padding-bottom: 50px;
}
.carousel .carousel-inner .carousel-item img {
  width: 100%;
}

.pInicio {
  margin: 0 20px 20px 20px;
}

.producto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 50px 0;
}
.producto img {
  height: 200px;
  margin: 30px;
  transform: rotate(10deg);
  transition: box-shadow 0.3s ease-in-out;
}
.producto img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.producto h2 {
  padding: 10px !important;
  text-align: center;
}

.posterHarry {
  flex-direction: row-reverse;
}
.posterHarry img {
  transform: rotate(-10deg);
}

@media (max-width: 768px) {
  .producto {
    flex-direction: column;
  }
}
header nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
}
header nav .container-fluid {
  width: 100% !important;
  padding: 0;
  display: flex;
}
header nav .container-fluid button {
  margin: 0 18px;
}
header nav .container-fluid a .logo {
  max-width: 150px;
  cursor: pointer;
  margin: 10px 0 10px 18px;
  transition: transform 0.3s ease-in-out;
}
header nav .container-fluid a .logo:hover {
  transform: rotate(-4deg) scale(1.07);
}
header nav .linkPaginas ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}
header nav .linkPaginas ul .headerTexto {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: inline-flex;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
header nav .linkPaginas ul .headerTexto:focus, header nav .linkPaginas ul .headerTexto:hover {
  color: #1014c5;
}
header nav .linkPaginas ul .headerTexto:focus span, header nav .linkPaginas ul .headerTexto:hover span {
  background-image: linear-gradient(to right, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
  color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
  transition-duration: 400ms;
}
header nav .linkPaginas ul .headerTexto:focus:after, header nav .linkPaginas ul .headerTexto:hover:after {
  width: 100%;
  left: 0%;
}
header nav .linkPaginas ul .headerTexto:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #1014c5;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
header nav .linkPaginas ul .headerTexto a {
  padding: 0.4rem 0.7rem !important;
  color: #1014c5 !important;
  text-decoration: none;
}

.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

@media (min-width: 991px) {
  .navbar-collapse {
    justify-content: end;
    padding-right: 0.8% !important;
  }
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
  header nav .linkPaginas {
    display: flex;
    margin-right: 0px;
  }
  header nav .linkPaginas ul .headerTexto {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0.5rem !important;
  }
  header nav .linkPaginas ul .headerTexto a {
    padding: 0.3rem 0.6rem;
    color: #1014c5;
    text-decoration: none;
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  .linkPaginas ul .headerTexto {
    padding: 0 0.05rem !important;
  }
}
footer {
  height: auto;
  width: 100%;
  background-color: #1014c5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  bottom: 0;
  margin-top: auto;
}
footer h2 {
  color: white;
  font-size: 1rem;
}
footer .redes {
  margin: 20px;
}
footer .copyright {
  margin: 20px;
}

.form-responsive {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-responsive .contact-form {
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 10px;
  width: 50%;
  margin: 5%;
}
.form-responsive .contact-form label {
  color: black;
  margin-bottom: 10px;
}
.form-responsive .contact-form .heading {
  font-size: 24px;
  color: black;
  margin-bottom: 12px;
  font-weight: bold;
  display: block;
}
.form-responsive .contact-form form {
  display: flex;
  flex-direction: column;
}
.form-responsive .contact-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form-responsive .contact-form input:focus {
  outline: none;
  box-shadow: 0 0 5px #1014c5;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.form-responsive .contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form-responsive .contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #1014c5;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.form-responsive .contact-form button[type=submit] {
  background-color: #1014c5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.form-responsive .contact-form button[type=submit]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

textarea {
  resize: none;
  height: 80px;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 6% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .form-responsive .contact-form {
    width: 90% !important;
  }
}
@font-face {
  font-family: lemonMilkMed;
  src: url(../fonts/LEMONMILK-Medium.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f5f5f5;
}

.h2Catalogo {
  font-size: 1rem;
  text-align: center;
}

.containerrr {
  max-width: 90%;
  margin: 0 auto;
}

.movies {
  padding: 20px 0 150px 0;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: auto;
}
.swiper-slide img {
  display: block;
  width: auto;
  height: 90vh;
}

.sections section {
  display: none;
}
.sections section.active {
  display: block;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button {
  background-color: #1014c5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.buttons button:hover {
  background-color: #001163;
}

section {
  display: none;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 90%;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
  }
  .buttons button {
    font-size: small;
    padding: 10px;
  }
}
.descConocenos {
  display: flex;
  align-items: center;
}
.descConocenos img {
  width: 40%;
  padding: 30px;
}
.descConocenos p {
  padding: 0 0 0 30px;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  .descConocenos {
    flex-direction: column;
  }
  .descConocenos img {
    width: 300px;
  }
  .classConocenos {
    padding: 10px !important;
    margin: 0 !important;
  }
}
.calidad-flex .container {
  width: 60%;
  padding-bottom: 2%;
}
.calidad-flex .container .video-yt {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}
.calidad-flex .container .video-yt iframe {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .calidad-flex .container {
    min-width: 99%;
    padding-bottom: 3%;
  }
}

/*# sourceMappingURL=styles.css.map */
