html {
  height: 100%;

}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
html {
  position: relative;
}
/* inicio */
/* header */
.logoo {
  display: flex;
}
.logo {
  display: flex;
  width: 150px;
  cursor: pointer;
margin: 10px 0 10px 10px;}

header {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: #1014c5 2px solid;
}

ul {
  padding: 0;
}

.headerTexto {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.headerTexto a {
  margin: 0 8px;
  padding: 8px;
  color: #1014c5;
  text-decoration: none;
  border: solid 2px #1014c5;
  border-radius: 20px;
}

span {
  background-image: linear-gradient(
    to right,
    #462523 0,
           #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
    );
  color: transparent;
  /* aplica el css solo al área que ocupe el texto */
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.boton {
  color: white;
  background-color: #1014c5;
  border-radius: 20px;
  margin-right: 20px;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.banner img {
  width: 100%;
  height: auto;
}

/* footer */

footer {
  height: auto;
  width: 100%;
  background-color: #1014c5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  bottom: 0;
  margin-top: auto;
}


footer h2 {
  color: white;
  font-size: 1rem;
}

.redes {
  margin: 20px;
}

.copyright {
  margin: 20px;
}

/* calidad */
.calidad-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-yt {
  padding-bottom: 50px;
} 


/* contacto */

form {
  width: 300px;
  margin: 20px auto 20px auto;
  background-color: #1014c5;
  padding: 20px;
  border-radius: 20px;
}

label,.formulario {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

form h2 {
  margin: 0;
  margin-bottom: 15px;
}

/* conocenos */
.descConocenos {
display: flex;
align-items: center;
}
.descConocenos img {
  width: 300px;
  padding: 20px;
}

.descConocenos p {
padding: 0 0px 0 20px;
}

h1 {
font-family: "Montserrat", sans-serif; 
 text-align: center;
  text-transform: uppercase;
  color: #1014c5;
}

/* catalogo */
.cat {
  padding: 20px;
}
.cat img {
  width:300px;
  height: auto;
}

.catPrincipal {
  width: 100%;
  display: flex;
justify-content: center;
}