@import "variables", "header", "footer", "form";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-family_1;
}

html {
	height: 100%;
}

a {
	text-decoration: none;
	color: $color_3;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	color: $color_1;
	margin: 10px;
}





.calidad-flex {
	.container {
		width: 60%;
		padding-bottom: 2%;

		.video-yt {
			overflow: hidden;
			padding-top: 56.25%;
			position: relative;
			width: 100%;

			iframe {
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				width: 100%;

			}
		}
	}

}

.descConocenos {
	display: flex;
	align-items: center;


	img {
		width: 300px;
		padding: 20px;
	}

	p {
		padding: 0 0px 0 20px;
	}
}

.carousel {
	.carousel-inner {
		.carousel-item {
			img {
				width: 100%;
			}
		}
	}
}

.catPrincipal {
	.cat {
		padding: 20px;
		width: 30%;

		img {
			width: 100%;
		}
	}

	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.producto {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px 0 50px 0;

	img {
		height: 200px;
		margin: 30px;
		transform: rotate(+10deg);
	}
	h2 {
		padding: 10px !important;
		text-align: center;
	}
}

.posterHarry {
	flex-direction: row-reverse;

	img {
		transform: rotate(-10deg);
	}
}

@media (max-width:768px) {
	.catPrincipal {
		.cat {
			width: 90%;
			max-height: 90%;
			padding: 10px 0;
		}

		flex-direction: column;
		align-items: center;
	}

	.producto {
		flex-direction: column;
	}

	
	header {
		flex-direction: column;
		nav {
			.linkPaginas {
				ul {
					.headerTexto {
						font-size: 1.3rem;
						font-weight: bold;
						text-transform: uppercase;
						display: flex;
						justify-content: center;
						padding: 0.5rem 0.5rem !important;

						a {
							padding: 0.3rem 0.6rem;
							color: $color_1;
							text-decoration: none;
							border: solid 2px #1014c5;
							border-radius: 2rem;
							flex-wrap: wrap;
						}
					}

				}

				display: flex;

				margin-right: 0px;
			}

		}
	}

	.descConocenos {
		flex-direction: column;
	}
	.classConocenos {
		padding: 10px !important
		;
		margin: 0 !important;
	}

	.calidad-flex {
		.container {
			min-width: 99%;
			padding-bottom: 3%;
		}
	}
}